p {
    padding-right: 75px;
    padding-left: 75px;
    font-size: 15px;
    margin-bottom: 10px;
    line-height: 200%;
    color: black;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

button {
    background-color: white;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 15px;
    cursor: pointer;
    transition: all .5s;
    margin-left: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: black;
}

button:hover {
    background-color: black;
    color: white;
}