
button {
    background: white;
    border-color: white;
    border-style: solid;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 17px;
    margin-bottom: 10px;
    line-height: 150%;
    color: black;
}

p {
    /* background: white;
    border-color: white;
    border-style: solid;
    width: 1000px; */
    padding-right: 75px;
    padding-left: 75px;
    font-size: 15px;
    margin-bottom: 10px;
    line-height: 200%;
    color: black;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


#homePg {
    /* width: 1100px; */
    background-color: white;
    border-color: black;
    padding-right: 200px;
    padding-left: 200px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 15px;
    cursor: pointer;
    margin-top: 20px;
    transition: all .5s;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

#homePg:hover {
    background-color: black;
    color: white;
}