
button {
    background: white;
    border-color: white;
    border-style: solid;
    width: 1000px;
    font-size: 20px;
    margin-bottom: 10px;
    line-height: 200%;
}


#homePg {
    width: 1100px;
    background-color: white;
    border-color: black;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 15px;
    cursor: pointer;
    margin-top: 20px;
    transition: all .5s;
}

#homePg:hover {
    background-color: black;
    color: white;
}